# Unity Generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/

# Visual Studio / MonoDevelop generated
[Ee]xportedObj/
.vs/
*.userprefs
*.csproj.user
*.pidb
*.suo
*.sln.DotSettings.user

# IDE - JetBrains Rider
.idea/

# IDE - VSCode
.vscode/

# Build cache
*.cache
*.dll
*.exe

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Misc
*.bak
*.orig
*.log
*.tmp
*.temp