# Unity Generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/

# Visual Studio / MonoDevelop generated
[Ee]xportedObj/
.vs/
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.sw?

# IDE - VSCode
.vscode/

# Build cache
*.cache

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Misc
*.bak
*.orig
*.log
*.tmp
*.temp